<!DOCTYPE html>
<html>
	<head>
		<title>Tag Requests</title>
	</head>
	<body>
		<h1>Manage Your Tag Requests Here</h1>
		<div>
			<form action="/tag" method="POST">
			<table border="1">
				{% for request in requests %}
				<tr>
					<td><img src="/image/{{request.filePath}}" width="200"/></td>
				</tr>
				<tr>
					<td>
						<input type="radio" name="query" value="Update Tag SET acceptedTag = 1 WHERE photoID = {{request.photoID}} AND username = %s">Accept</input>
						<input type="radio" name="query" value="DELETE FROM Tag WHERE photoID = {{request.photoID}} AND username = %s">Decline</input>
						<input type="submit" value="Confirm">
					</td>
				</tr>
				<br/>
				{% endfor %}
			</table>
		</div>
		<a href="/home">Go back</a>
	</body>
</html>